In [2]:
# imports
import pandas as pd 
import numpy as np
#import urllib.request
from sklearn.model_selection import train_test_split

In [4]:
# get the data
data2 = pd.read_csv("data/flights.csv")
data2 = data2[np.isfinite(data2['ARRIVAL_DELAY'])]
# data = data2.sample(10000)
print(list(data2.columns.values))

['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']

In [5]:
data2.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# start limiting the data
relevant_cols = data2[['ARRIVAL_DELAY', 'DAY','MONTH', 'DAY_OF_WEEK', 'AIRLINE','ORIGIN_AIRPORT', 'DESTINATION_AIRPORT','SCHEDULED_DEPARTURE', 'TAIL_NUMBER']]
relevant_cols = relevant_cols[relevant_cols['ORIGIN_AIRPORT'] == 'ORD']
relevant_cols = relevant_cols[relevant_cols['AIRLINE'].isin(['MQ', 'UA', 'AA', 'EV', 'OO'])]
relevant_cols.head()

,ARRIVAL_DELAY,DAY,MONTH,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,TAIL_NUMBER
63,11.0,1,1,4,UA,ORD,IAH,510,N30401
93,3.0,1,1,4,UA,ORD,DEN,533,N66837
100,-3.0,1,1,4,EV,ORD,DTW,535,N132EV
422,-21.0,1,1,4,UA,ORD,MCO,608,N422UA
427,-13.0,1,1,4,OO,ORD,MBS,610,N979SW

In [8]:
# make the arrival delay buckets
for row in range(relevant_cols.shape[0]):
    if row % 1000 == 0:
        print ('done ' + str(row))
    delay = relevant_cols.iloc[row, 0]
    if delay < 0:
        relevant_cols.iloc[row, 0] = 0
    elif delay <= 15:
        relevant_cols.iloc[row, 0] = 1
    else:
        relevant_cols.iloc[row, 0] = 2
    # bucket the departure by hour
    relevant_cols.iloc[row, 7] = int(relevant_cols.iloc[row, 7]) / 100

done 0
done 1000
done 2000
done 3000
done 4000
done 5000
done 6000
done 7000
done 8000
done 9000
done 10000
done 11000
done 12000
done 13000
done 14000
done 15000
done 16000
done 17000
done 18000
done 19000
done 20000
done 21000
done 22000
done 23000
done 24000
done 25000
done 26000
done 27000
done 28000
done 29000
done 30000
done 31000
done 32000
done 33000
done 34000
done 35000
done 36000
done 37000
done 38000
done 39000
done 40000
done 41000
done 42000
done 43000
done 44000
done 45000
done 46000
done 47000
done 48000
done 49000
done 50000
done 51000
done 52000
done 53000
done 54000
done 55000
done 56000
done 57000
done 58000
done 59000
done 60000
done 61000
done 62000
done 63000
done 64000
done 65000
done 66000
done 67000
done 68000
done 69000
done 70000
done 71000
done 72000
done 73000
done 74000
done 75000
done 76000
done 77000
done 78000
done 79000
done 80000
done 81000
done 82000
done 83000
done 84000
done 85000
done 86000
done 87000
done 88000
done 89000
done 90000
done 91000
done 92000
done 93000
done 94000
done 95000
done 96000
done 97000
done 98000
done 99000
done 100000
done 101000
done 102000
done 103000
done 104000
done 105000
done 106000
done 107000
done 108000
done 109000
done 110000
done 111000
done 112000
done 113000
done 114000
done 115000
done 116000
done 117000
done 118000
done 119000
done 120000
done 121000
done 122000
done 123000
done 124000
done 125000
done 126000
done 127000
done 128000
done 129000
done 130000
done 131000
done 132000
done 133000
done 134000
done 135000
done 136000
done 137000
done 138000
done 139000
done 140000
done 141000
done 142000
done 143000
done 144000
done 145000
done 146000
done 147000
done 148000
done 149000
done 150000
done 151000
done 152000
done 153000
done 154000
done 155000
done 156000
done 157000
done 158000
done 159000
done 160000
done 161000
done 162000
done 163000
done 164000
done 165000
done 166000
done 167000
done 168000
done 169000
done 170000
done 171000
done 172000
done 173000
done 174000
done 175000
done 176000
done 177000
done 178000
done 179000
done 180000
done 181000
done 182000
done 183000
done 184000
done 185000
done 186000
done 187000
done 188000
done 189000
done 190000
done 191000
done 192000
done 193000
done 194000
done 195000
done 196000
done 197000
done 198000
done 199000
done 200000
done 201000
done 202000
done 203000
done 204000
done 205000
done 206000
done 207000
done 208000
done 209000
done 210000
done 211000
done 212000
done 213000
done 214000
done 215000
done 216000
done 217000
done 218000
done 219000
done 220000
done 221000
done 222000
done 223000
done 224000
done 225000
done 226000
done 227000
done 228000
done 229000
done 230000
done 231000
done 232000
done 233000
done 234000
done 235000
done 236000
done 237000
done 238000
done 239000
done 240000
done 241000
done 242000
done 243000
done 244000
done 245000
done 246000

In [10]:
relevant_cols.to_csv('data/basic_features.csv')
relevant_cols.head()

,ARRIVAL_DELAY,DAY,MONTH,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,TAIL_NUMBER
63,1.0,1,1,4,UA,ORD,IAH,5,N30401
93,1.0,1,1,4,UA,ORD,DEN,5,N66837
100,0.0,1,1,4,EV,ORD,DTW,5,N132EV
422,0.0,1,1,4,UA,ORD,MCO,6,N422UA
427,0.0,1,1,4,OO,ORD,MBS,6,N979SW

In [11]:
test = pd.read_csv('data/basic_features.csv', index_col = 0)
test.head()

,ARRIVAL_DELAY,DAY,MONTH,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,TAIL_NUMBER
63,1.0,1,1,4,UA,ORD,IAH,5,N30401
93,1.0,1,1,4,UA,ORD,DEN,5,N66837
100,0.0,1,1,4,EV,ORD,DTW,5,N132EV
422,0.0,1,1,4,UA,ORD,MCO,6,N422UA
427,0.0,1,1,4,OO,ORD,MBS,6,N979SW

In [45]:
# DON'T RUN THIS KATHERINE!
# get the flight information
years = []
models = []
tail_numbers = relevant_cols['TAIL_NUMBER'].values
tail_numbers = np.unique(tail_numbers)
valid_tail_nums = []
for tail_num in tail_numbers:
    url = 'http://registry.faa.gov/aircraftinquiry/NNum_Results.aspx?NNumbertxt={0}'.format(tail_num)
    with urllib.request.urlopen(url) as response:
        html = response.read().decode('utf-8')
        if html.find("<h5>Can Not Process Your Request At This Time</h5>") == -1:
           # then there wasn't an error
            start_index = html.find('<span id="content_Label7" class="Results_DataText">')
            length = len('<span id="content_Label7" class="Results_DataText">')
            end_index = html.find("</span>", start_index)
            model = html[start_index+len:end_index]
            start_index = html.find('<span id="content_Label17" class="Results_DataText">')
            length = len('<span id="content_Label17" class="Results_DataText">')
            end_index = html.find("</span>", start_index)
            year = html[start_index+length:end_index]
            if len(year) > 0 and len(models) > 0:
                valid_tail_nums.append(tail_num)
                years.append(year)
                models.append(model)

NameError: name 'valid_tail_numbers' is not defined

In [46]:
# DON'T RUN THIS KATHERINE!
# create a new dataframe with all of the airplane features
airplane_data = {'TAIL_NUMBER':valid_tail_nums, 'YEAR':years, 'MODEL':models}
airplane_df = pd.DataFrame(data=airplane_data)
airplane_df.to_csv("airplane_info.csv")

In [ ]:
# get airline info
data2 = pd.read_csv("data/flights-limited.csv")
data2 = data2[np.isfinite(data2['ARRIVAL_DELAY'])]
relevant_cols = data2[['ARRIVAL_DELAY', 'MONTH', 'DAY_OF_WEEK', 'AIRLINE','ORIGIN_AIRPORT', 'DESTINATION_AIRPORT','SCHEDULED_DEPARTURE', 'TAIL_NUMBER']]

# sample so that the clases are equal
early = relevant_cols[relevant_cols['ARRIVAL_DELAY'] < 0]
early = early.sample(48000)
on_time = relevant_cols[relevant_cols['ARRIVAL_DELAY'] > 0]
on_time = on_time[on_time['ARRIVAL_DELAY'] < 16]
on_time = on_time.sample(48000)
delayed = relevant_cols[relevant_cols['ARRIVAL_DELAY'] > 15]
delayed = delayed.sample(48000)

flights_df = pd.concat([early, on_time, delayed])

In [35]:
# need to join the airlane data w/ the flight data
airplane_df = pd.read_csv('data/airplane.csv')
bayes_data_full = pd.merge(airplane_df, flights_df, how='inner', left_on='TAIL_NUMBER', right_on='TAIL_NUMBER')
bayes_data_full = bayes_data_full.drop(columns=['TAIL_NUMBER'])

# split into test and train
bayes_data, test_data = train_test_split(bayes_data_full, test_size=0.2)
test_labels = test_data[['ARRIVAL_DELAY']]
test_data = test_data.drop(columns=['ARRIVAL_DELAY'])

In [40]:
# CONSTANTS
NUM_TIME_DELAY_BUCKETS = 5
NUM_AIRPLANE_DELAY_BUCKETS = 5
la_place_constant = 1

# map the variables to their parents
variables_to_parents = {}
variables_to_parents['MONTH'] = []
variables_to_parents['DAY_OF_WEEK'] = []
variables_to_parents['SCHEDULED_DEPARTURE'] = []
variables_to_parents['time_delay'] = ['MONTH', 'DAY_OF_WEEK', 'SCHEDULED_DEPARTURE']
variables_to_parents['AIRLINE'] = []
variables_to_parents['DESTINATION_AIRPORT'] = []
variables_to_parents['YEAR'] = [] # year is the year of the airplane make NOT the year that the flight departs
variables_to_parents['MODEL'] = []
variables_to_parents['airplane_delay'] = ['YEAR', 'MODEL']
variables_to_parents['ARRIVAL_DELAY'] = ['time_delay', 'AIRLINE', 'DESTINATION_AIRPORT', 'airplane_delay']

In [41]:
print(len(np.unique(bayes_data['DAY_OF_WEEK'].unique())))
print(len(np.unique(bayes_data['AIRLINE'].unique())))
print(len(np.unique(bayes_data['ORIGIN_AIRPORT'].astype(str).unique())))
print(len(np.unique(bayes_data['DESTINATION_AIRPORT'].astype(str).unique())))
print(len(np.unique(bayes_data['SCHEDULED_DEPARTURE'].astype(str).unique())))
print(len(np.unique(bayes_data['MONTH'].astype(str).unique())))
print(len(np.unique(bayes_data['YEAR'].astype(str).unique())))
print(len(np.unique(bayes_data['MODEL'].astype(str).unique())))

7
5
1
154
1061
11
39
49

In [ ]:
# initialize the counts
variable_to_counts = {}
# these variables don't have parent variables
for var in variables_to_parents:
    if len(variables_to_parents[var]) == 0:
        variable_to_counts[var] = {key:la_place_constant for key in np.unique(bayes_data[var].astype(str).unique())}
# add the variable with parent variables
variable_to_counts['time_delay'] = {(time_delay, month, day_of_week, sch_departure):la_place_constant
                                   for time_delay in range(NUM_TIME_DELAY_BUCKETS)
                                   for month in bayes_data['MONTH'].astype(str).unique()
                                   for day_of_week in bayes_data['DAY_OF_WEEK'].astype(str).unique()
                                   for sch_departure in bayes_data['SCHEDULED_DEPARTURE'].astype(str).unique()}
variable_to_counts['airplane_delay'] = {(airplane_delay, year, model):la_place_constant
                                       for airplane_delay in range(NUM_AIRPLANE_DELAY_BUCKETS)
                                       for year in bayes_data['YEAR'].astype(str).unique()
                                       for model in bayes_data['MODEL'].astype(str).unique()}
variable_to_counts['ARRIVAL_DELAY'] = {(arrival_delay, time_delay, airline, dest_airport, airplane_delay):la_place_constant
                                      for arrival_delay in bayes_data['ARRIVAL_DELAY'].astype(str).unique()
                                      for time_delay in range(NUM_TIME_DELAY_BUCKETS)
                                      for dest_airport in bayes_data['DESTINATION_AIRPORT'].astype(str).unique()
                                      for airplane_delay in range(NUM_AIRPLANE_DELAY_BUCKETS)
                                      for airline in bayes_data['AIRLINE'].astype(str).unique()}

In [ ]:
# learn a basic Bayesian network (flat structure)
# count
for row in bayes_data:
    for (variable, parent_list) in variables_to_parents.items():
        # need to make tuple of value with their parent(conditional) values
        value = [row[variable]]
        value.extend([row[parent] for parent in parent_list])
        value = tuple(value)
        # increase the count
        variable_to_counts[var][value] += 1

In [ ]:
# normalize
variable_to_probability = {}
for variable in variable_to_counts:
    if len(variable_to_parents[variable]) > 0:
        # then we need to do some fun tuple stuff because the conditionals are what is constant
        conditional_to_count = {}
        for value in variable_to_counts[variable]:
            conditional = value[1:]
            conditional_to_count[conditional] = conditional_to_count.get(conditional_to_count, 0) + 1
        # now actually get the percentage
        for value in variable_to_counts[variable]:
            conditional = value[1:]
            variable_to_probability[variable][value] = float(variable_to_counts[variable][value])/conditional_to_count[conditional]
    else:
        # there are no parents
        for value in variable_to_counts[variable]:
            # add all of the counts for all of the values for the variable
            total = sum(variable_to_counts[variable][value].values())
            variable_to_probability[variable][value] = float(variable_to_counts[variable][value])/total